<footer class="footer">
  <div class="content has-text-centered">
    <p>
      Support this project by <a target="_blank" href="https://www.icesar.com/en/support-us">donating to ICE-SAR</a>.
    </p>

    <p>
      Powered by <a target="_blank" href="https://workers.cloudflare.com">Cloudflare Workers</a>.
      <a target="_blank" href="https://github.com/aquarhead/nextgame">FOSS</a> forever.
    </p>

    <p>
      <a target="_blank" href="https://github.com/aquarhead/nextgame/wiki/How%E2%80%90to">RTFM</a>.
    </p>
  </div>
</footer>
