<!doctype html>
<html>

{% include 'head.html' %}

<body>
  <section class="hero is-medium is-info">
    <div class="hero-body">
      <h1 class="title">
        nextgame
      </h1>
      <p class="subtitle">
        Who's playing?!
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <form action="/new_team" method="post">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input type="text" name="team_name" class="input is-large" placeholder="New team name">
          </div>
          <div class="control">
            <button type="submit" class="button is-large is-primary">
              Create new team!
            </button>
          </div>
        </div>
      </form>
    </div>
  </section>

  {% include 'footer.html' %}
</body>

</html>
