<!doctype html>
<html>

{% include 'head.html' %}

<body>
  <section class="hero is-info">
    <div class="hero-body">
      <h1 class="title">
        nextgame :: {{ team_name }}
      </h1>
      <p class="subtitle">
        Who's playing?!
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns">
        <div class="column">
          <div class="box">
            <h3 class="title"><span hx-get="/team/{{ key }}/playing_count" hx-trigger="click from:body delay:200ms">{{
                playing_count
                }}</span>
              playing!</h3>
            {% if ng.guests %}
            <p class="subtitle mb-2">including {{ ng.guests|length }} guests</p>
            {% endif %}
            {% if location %}
            <div class="block mt-1 mb-1">
              <span class="icon">
                <i class="ph ph-map-pin-area"></i>
              </span>
              <span>{{ location }}</span>
            </div>
            {% endif %}
            {% if ng.date %}
            <div class="block mb-1">
              <span class="icon">
                <i class="ph ph-calendar-blank"></i>
              </span>
              <span>Date</span>
            </div>
            {% endif %}
            {% if time %}
            <div class="block mb-1">
              <span class="icon">
                <i class="ph ph-clock"></i>
              </span>
              <span>{{ time }}</span>
            </div>
            {% endif %}
            {% if description|length > 0 %}
            <div class="content has-background-light px-3 py-3">
              <!-- <blockquote class="py-3"> -->
              {{ description|safe }}
              <!-- </blockquote> -->
            </div>
            {% endif %}
          </div>
        </div>
        <div class="column">
          <div class="content">
            <h3 class="title">Comments</h3>
            {% for comment in ng.comments %}
            <div class="box">{{ comment }}</div>
            {% endfor %}
            <form action="/team/{{ key }}/comment" method="post">
              <div class="field">
                <div class="control">
                  <textarea name="comment" class="textarea" rows="2"></textarea>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button type="submit" class="button is-info">
                    Add comment
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <div class="container is-max-desktop mt-2">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <colgroup>
          <col span="1" style="width: 60%;">
          <col span="1" style="width: 40%;">
        </colgroup>
        <thead>
          <tr>
            <th>Name</th>
            <th>Playing?</th>
          </tr>
        </thead>
        <tbody>
          {% for (name, pid, playing) in players %}
          <tr>
            <th class="is-two-thirds" scope="row">
              {{ name }}
            </th>
            <td class="player-reg">
              {% include 'player-reg.html' %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

    <div class="container is-max-desktop mt-4">
      <div class="columns">
        <div class="column is-half">
          <form action="/team/{{ key }}/guest" method="post">
            <div class="field has-addons">
              <div class="control is-expanded">
                <input type="text" name="guest_name" class="input" placeholder="Guest name">
              </div>
              <div class="control">
                <button type="submit" class="button is-primary">
                  Add guest
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>

    {% if ng.guests %}
    <div class="container is-max-desktop mt-2">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <colgroup>
          <col span="1" style="width: 60%;">
          <col span="1" style="width: 40%;">
        </colgroup>
        <thead>
          <tr>
            <th>Guest</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          {% for name in ng.guests %}
          <tr>
            <th class="is-two-thirds" scope="row">
              {{ name }}
            </th>
            <td>
              <form action="/team/{{ key }}/guest/{{ name }}/delete" method="post">
                <button type="submit" class="button is-warning">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}
  </section>

  {% include 'footer.html' %}
</body>

</html>
