<!doctype html>
<html>

{% include 'head.html' %}

<body>
  <section class="hero is-info">
    <div class="hero-body">
      <h1 class="title">
        nextgame :: admin :: {{ team.name }}
      </h1>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <div class="columns">
        <div class="column">
          <div class="box">
            <h3 class="subtitle">Settings</h3>
            <form action="/admin/{{ key }}/{{ team.secret }}/settings" method="post">
              <div class="field">
                <label class="label">Location</label>
                <div class="control has-icons-left">
                  <input class="input" id="" type="text" name="location" value="{{ team.location if team.location }}">
                  <span class="icon is-small is-left">
                    <i class="ph ph-map-pin-area"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Time</label>
                <div class="control has-icons-left">
                  <input class="input" id="" type="text" name="time" value="{{ team.time if team.time }}">
                  <span class="icon is-small is-left">
                    <i class="ph ph-clock"></i>
                  </span>
                </div>
              </div>
              <div class="field">
                <label class="label">Weekly Schedule</label>
                <div class="control">
                  <div class="select">
                    <select name="weekly_schedule">
                      <option value="0" {% if not team.weekly_schedule %}selected{% endif %}>Disabled</option>
                      <option value="1" {% if team.weekly_schedule==1 %}selected{% endif %}>Monday</option>
                      <option value="2" {% if team.weekly_schedule==2 %}selected{% endif %}>Tuesday</option>
                      <option value="3" {% if team.weekly_schedule==3 %}selected{% endif %}>Wednesday</option>
                      <option value="4" {% if team.weekly_schedule==4 %}selected{% endif %}>Thursday</option>
                      <option value="5" {% if team.weekly_schedule==5 %}selected{% endif %}>Friday</option>
                      <option value="6" {% if team.weekly_schedule==6 %}selected{% endif %}>Saturday</option>
                      <option value="7" {% if team.weekly_schedule==7 %}selected{% endif %}>Sunday</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="field">
                <div class="control">
                  <button type="submit" class="button is-link">
                    Save
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="column">
          <div class="box">
            <h3 class="subtitle">Game</h3>
            {% if team.next_game %}
            <div class="block  mb-2">
              <a href="/team/{{ key }}">
                <button class="button is-medium is-primary">
                  Goto nextgame!
                </button>
              </a>
            </div>
            <form action="/admin/{{ key }}/{{ team.secret }}/reset_game" method="post">
              <div class="field">
                <div class="control">
                  <button type="submit" class="button is-medium is-warning">
                    Reset game
                  </button>
                </div>
              </div>
            </form>
            {% else %}
            <div class="block mb-2">
              <a href="/team/{{ key }}">
                <button type="submit" class="button is-medium is-primary">
                  Create nextgame!
                </button>
              </a>
            </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section pt-0">
    <div class="container is-max-desktop mb-2">
      <form action="/admin/{{ key }}/{{ team.secret }}/player" method="post">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input type="text" name="player_name" class="input is-medium"
              placeholder="Player name (use comma for multiple)">
          </div>
          <div class="control">
            <button type="submit" class="button is-medium is-primary">
              Add player
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="container is-max-desktop">
      <table class="table is-bordered is-striped is-hoverable is-fullwidth">
        <colgroup>
          <col span="1" style="width: 60%;">
          <col span="1" style="width: 40%;">
        </colgroup>
        <thead>
          <tr>
            <th>Player</th>
            <th>Manage</th>
          </tr>
        </thead>
        <tbody>
          {% for id, pn in team.players|items %}
          <tr>
            <th class="is-two-thirds">
              {{ pn }}
            </th>
            <td>
              <form action="/admin/{{ key }}/{{ team.secret }}/player/{{ id }}/delete" method="post">
                <button type="submit" class="button is-danger">
                  Delete
                </button>
              </form>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  {% include 'footer.html' %}
</body>

</html>
