<!doctype html>
<html>

{% include 'head.html' %}

<body>
  <section class="hero is-info">
    <div class="hero-body">
      <h1 class="title">
        nextgame :: {{ team_name }}
      </h1>
      <p class="subtitle">
        Manage players, and more..
      </p>
    </div>
  </section>

  <section class="section">
    <div class="container is-max-desktop">
      <form action="/admin/{{ key }}/{{ secret }}/player" method="post">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input type="text" name="player_name" class="input is-medium" placeholder="Player name">
          </div>
          <div class="control">
            <button type="submit" class="button is-medium is-primary">
              Add player
            </button>
          </div>
        </div>
      </form>
    </div>

    <div class="container is-max-desktop">
      <table class="table">
        <tbody>
          {% for (id, pn) in players %}
          <tr>
            <th>
              {{ pn }}
            </th>
            <td>
              <button action="/admin/{{ key }}/{{ secret }}/player/{{ id }}" method="delete" type="submit"
                class="button is-danger">
                Delete
              </button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </section>

  {% include 'footer.html' %}
</body>

</html>
