name: Build and deploy to Cloudflare Workers

on:
  push:
  workflow_dispatch:

concurrency:
  group: deploy
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    name: Build and Deploy master
    steps:
    - uses: actions/checkout@v6
    - name: Cache build
      uses: actions/cache@v4
      with:
        path: |
          ~/.cargo/bin/
          ~/.cargo/registry/index/
          ~/.cargo/registry/cache/
          ~/.cargo/git/db/
          ~/.cargo/.crates.toml
          ~/.cargo/.crates2.json
          target/
          node_modules/
          /usr/share/rust/.rustup/
        key: ${{ runner.os }}-${{ hashFiles('Cargo.lock') }}-${{ hashFiles('package-lock.json') }}
        restore-keys: ${{ runner.os }}-
    - uses: dtolnay/rust-toolchain@stable
      with:
        targets: "wasm32-unknown-unknown"
    - run: |
        npm install
    - uses: taiki-e/install-action@v2
      with:
        tool: just
    - run: cargo install -q worker-build
    - name: Build
      run: |
        just build
    - name: Deploy
      if: ${{ github.ref_type == 'branch' && github.ref_name == 'master' }}
      env:
        CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CF_ACCOUNT_ID }}
        CLOUDFLARE_API_TOKEN: ${{ secrets.CF_TOKEN }}
      run: |
        just deploy
